<div class="footer">
  <div id="media">
    <p> 
      Samtalspedagogen | Anna Hellmark <br>
      0706794178 | samtalspedagogen@gmail.com <br>
      Kristinagatan 21, 602 26 Norrköping <br>
    </p>
    <span style="font-size: 2em; color: red;">
      <a href="https://www.facebook.com/anna.hellmark.9" target="_blank" class="fab fa-facebook-square"></a>
    </span>
    <span style="font-size: 2em; color: red;">
      <a href="https://www.instagram.com/samtalspedagogen/" target="_blank" class="fab fa-instagram"></a>
    </span>
    <p style="font-size: 12px">Copyright © 2018 </p>
  </div>  
</div>
