<%= partial 'partials/logo' %>
<%= partial 'partials/navbar' %>

<div class="row">
  <div class="main-container" id="main">
    <div class="container-1" id="post-title">
      <p class="header">
       Välkommen till<br>
       Samtalspedagogen<br>
       Anna Hellmark<br>
      </p>
    </div> 
     <img class="img-main" src="../images/main.jpeg"><br>
    <p class="news">
      Jag arbetar sedan 25 år tillbaka som konsult i personlig utveckling. Är utbildad samtalspedagog, livscoach, reikimaster samt medium.<br>
      <br>
      Jag har genom åren genomgått många och långa inre resor som hjälp att rensa mitt inre från hinder och begränsningar. 
      Vilket har gett mig god självkännedom. Intuitionen är ett hjälpmedel som jag använder i många situationer.<br>
      Jag går kontinuerligt på olika utbildningar och kurser, som hjälper mig att få en helhet av människans behov av mental och själslig utveckling på alla plan.
      <br>
      <div class="img-mandala">
        <img class="img-smallmandala" src="../images/mandala2.png">
      </div>
    <p class="news">
      Mitt företag har inriktning på kommunikation, självkännedom, positivt tänkande, stresshantering samt mental träning.<br>
      Jag vänder mig till privatpersoner, grupper, föreningar samt företag.<br>
      Mina arbetsmetoder består av:<br>
      <br>
      <b>KBT</b> - Kognitiv beteende terapi, samt<br>
      <b>NLP</b> - Neurolingvistisk programmering, vilken är en beteendepsykologisk metod som går ut på att förändra tankar och beteenden.<br>
      <b>Neuro</b> står för hur vi tar in och bearbetar intryck.<br>
      <b>Lingvistik</b> är språket vi använder som visar hur vi uppfattar världen.<br>
      <b>Programmering</b> syftar på de vanemässiga tankar och beteendemönster som utgör grund för våra attityder.<br>
      <b>NLP</b> lär oss styra vårt medvetande och utnyttja våra resurser bättre.
      <br>
    </p> 
    </p>      
    </div>
  </div>

<%= partial 'partials/footer' %>
