<%= partial 'partials/logo' %>
<%= partial 'partials/navbar' %>
<div class="row">
  <div class="main-container" id="main">
    <div class="container-1" id="post-title">
        	<h5 class="header">Kontakt</h5>
    </div>
      <img class="img-kontact" src="../images/entrance.jpeg"><br>
      <p id="contacts">
        VARMT VÄLKOMMEN! <br>
      <br>
        Samtalspedagogen<br>
        Anna Hellmark <br>
      <br>
        Telefon<br>
        0706794178<br> 
      <br>
        E-post<br>
        samtalspedagogen@gmail.com<br>
      <br>  
        Adress<br>
        Kristinagatan 21<br>
        602 26 Norrköping<br> 
      </p>
    </div>
</div> 
<%= partial 'partials/footer' %>