<%= partial 'partials/logo' %>
<%= partial 'partials/navbar' %>

<div class="row">
  <div class="main-container" id="main">
    <div class="container-1" id="post-title">
    	<h5 class="header">Tjänster</h5>
    </div> 
		<p class="tjanster-list">
			1.1 – Utvecklande samtal / coaching<br>
			1.2 – Kurs i självkännedom & positivt tänkande<br>
			1.3 – Parsamtal<br>
			1.4 – Energibehandlingar / Reiki / Distanshealing<br>
			1.5 – Meditationsterapi / Regressionsterapi / Möt din skyddsängel<br>
			1.6 – Mediala konsultationer / Tarot<br>
			1.7 – Föredrag
		</p>
        
		<img class="img-buddah" src="../images/buddah.jpeg">
		<img class="img-buddah" src="../images/studio.jpeg"><br>

		<p class="tjanster-content">
		<b>1.1 – Utvecklande samtal / coaching</b><br>
			I en lugn och avkopplande miljö med avslappnande musik leder jag dig till insikter och lösningar på situationer genom utvecklande samtal.
			Jag använder metoderna NLP (neurolingvistisk programmering) samt KBT (kognitiv beteende terapi). Båda metoderna hjälper dig att hitta
			nya sätt att tänka och agera som i sin tur leder till positiva förändringar. bättre och positivare liv. Antalet samtal som behövs är individuellt
			och bestäms från gång till gång. Varje samtal pågår i en timme.
		</p>

			<div class="img-mandala">
        <img class="img-smallmandala" src="../images/mandala2.png" style="margin-bottom: 0; margin-top: 0px;">
      </div>

		
		<p class="tjanster-content">
		<b>1.2 – Kurs i självkännedom & positivt tänkande</b><br>
			Detta är en individuell kurs där du får lära känna dig själv samt hitta dina inre resurser. Du rensar ut hinder och problem samt bygger upp
			din självkänsla och ditt självförtroende. Kursen handlar om förändring som leder till positiva förändringar inom alls områden i ditt liv.
		</p>

			<div class="img-mandala">
        <img class="img-smallmandala" src="../images/mandala2.png" style="margin-bottom: 0; margin-top: 0px;">
      </div>

	
		<p class="tjanster-content">
		<b>1.3 – Parsamtal</b><br>
			I en lugn och avslappnad miljö hjälper jag er genom samtal att öppna upp kommunikationen mellan er båda. Samt att hitta hindren
			och skapa lösningar som leder till bättre förståelse mellan er. Detta leder till ökad självkänsla samt en öppnare och ärligare kommunikation.
		</p>

			<div class="img-mandala">
        <img class="img-smallmandala" src="../images/mandala2.png" style="margin-bottom: 0; margin-top: 0px;">
      </div>

	
		<p class="tjanster-content">
		<b>1.4 – Energibehandlingar / Reiki / Distanshealing</b><br>
			En effektiv behandlingsmetod vid ex stress, fysiska och mentala spänningar. 
			Reiki aktiverar även immunförsvaret. 
			Distanshealing fungerar på samma sätt. 
		</p>

		  <div class="img-mandala">
        <img class="img-smallmandala" src="../images/mandala2.png" style="margin-bottom: 0; margin-top: 0px;">
      </div>

	
		<p class="tjanster-content">
		<b>1.5 – Meditationsterapi / Regressionsterapi / Möt din skyddsängel</b><br>
			Här kan du välja mellan en avslappnande meditationsresa i ditt inre, där du kommer till din meditationsplats som ger nya insiktsupplevelser. 
			Eller kan du välja att uppleva mötet med din skyddsängel, där du blir uppfylld av den himmelska energin. 
			Eller väljer du en regressionsresa, där du upplever ett tidigare liv.
		</p>

			<div class="img-mandala">
        <img class="img-smallmandala" src="../images/mandala2.png" style="margin-bottom: 0; margin-top: 0px;">
      </div>

	
		<p class="tjanster-content">
		<b>1.6 – Mediala konsultationer / Tarot</b><br>
			Jag hjälper dig genom kontakt med bortgångna nära och kära, att förmedla deras budskap.
		</p>   
		  <div class="img-mandala">
        <img class="img-smallmandala" src="../images/mandala2.png" style="margin-bottom: 0; margin-top: 0px;">
      </div>
	   
		<p class="tjanster-content">
			<b>1.7 – Föredrag</b><br>
			Jag erbjuder föredrag i ca. 1,5 tim innehållande: KOMMMUNIKATION, POSITIVT TÄNKANDE & HÄLSA.
			Där jag påvisar vikten av dessa livsämnen. Samt dess samband.
		</p>    
	</div>
</div>	

<%= partial 'partials/footer' %>